name: Sync fork with upstream

on:
  schedule:
    - cron: '*/30 * * * *'
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Sync fork
        uses: tgymnich/fork-sync@v1
        with:
          owner: MedicD21
          repo: TempStick
          token: ${{ secrets.GITHUB_TOKEN }}
